streamlit
pandas
numpy
plotly
scikit-learn
nltk
requests
beautifulsoup4
transformers
torch  # or tensorflow
selenium
webdriver-manager
pyvirtualdisplay==3.0
selenium==4.10.0
webdriver-manager==3.8.6
xvfbwrapper==0.2.9
