streamlit
pandas
numpy
plotly
scikit-learn
nltk
requests
beautifulsoup4
transformers
torch  # or tensorflow
selenium
webdriver-manager
pipeline
textstat
wordcloud
matplotlib
axe-selenium-python
python-dotenv
